.popup-buttons {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    gap: 1em;
    padding: 0.5em;
    flex-shrink: 0;
    right: 1%;
    top: 1%;
    padding: 1em;
    align-self: flex-end;
    justify-self: top;
}

.popup-section-header {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding-bottom: .25em;
    align-items: center;
    padding-top: 1em;
}

.popup-section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-bottom: 1em;
}

.popup-window {
    position: absolute;
    z-index: 4;
    background-color: var(--app-container);
    width: 80%;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1em;
    border-radius: 5px;
    height: 80%;
    overflow-x: auto; 
    box-shadow: 0px 0px 25px var(--app-control-background-dark);
}

.popup-content {
    margin-top: 0px;
    scrollbar-color: var(--app-control-background-dark) transparent;
    overflow-y: auto;
    max-height: inherit;
    padding: 0em 1em 1em 1em;
    align-items: center;
}

.markdown pre:first {
    margin-top: 0px;
}