<!-- <canvas ngModel #canvas width="{{width}}" height="{{height}}">
</canvas> -->
<div *ngIf="graphReady" class="graph-container" (contextmenu)="onRightClick($event)">
    <svg #canvas [attr.viewBox]="getViewBox()" [attr.class]="isGraphStable ? 'stable-graph' : 'updating-graph'"
        (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)" (mousedown)="beginPan($event)"
        (wheel)="onScroll($event)">


        <g *ngFor="let edge of graph.getEdges()">
            <g *ngIf="edge.shouldRender()">
                <line [attr.x1]="edge.getFrom().pos.x" [attr.y1]="edge.getFrom().pos.y" [attr.x2]="edge.getTo().pos.x"
                    [attr.y2]="edge.getTo().pos.y" [attr.stroke]="edge.color" />

                <text [attr.x]="(edge.getFrom().pos.x + edge.getTo().pos.x) / 2"
                    [attr.y]="(edge.getFrom().pos.y + edge.getTo().pos.y) / 2" text-anchor="middle" font-size="14"
                    [attr.dy]="-5" [attr.transform]="getTextTransform(edge)" fill="black">{{edge.label}}
                </text>
            </g>
        </g>


        <g *ngFor="let node of graph.getNodes()">
            <g *ngIf="node.shouldRender()">
                <circle *ngIf="node.isLeaf() == false" class="node-circle" [attr.cx]="node.pos.x" [attr.cy]="node.pos.y"
                    [attr.r]="node.circleRadius" fill="none" />

                <circle [attr.cx]="node.pos.x" [attr.cy]="node.pos.y" [attr.r]="node.radius" [attr.fill]="node.color"
                    (dblclick)="collapseNode($event, node)"
                    (mousedown)="onMouseDown($event, node)" />

                <text [attr.x]="node.pos.x" [attr.y]="node.pos.y" text-anchor="middle" font-size="20" fill="black"
                    dominant-baseline="middle">{{node.label}}
                </text>
            </g>
        </g>
    </svg>
    <sub-graph-selection/>
    <graph-visualisation-controls />
    <node-detail #detail />
</div>