div, svg {
    width: 100%;
    height: 100%;
}

.graph-container{
    position: relative;
}

svg text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    pointer-events: none;
    user-select: none;
}

@keyframes fadeStrokeIn {
    from {
        stroke-opacity: 0;
    }

    to {
        stroke-opacity: 1;
    }
}

.updating-graph .node-circle {
    stroke: #a0a0a0;
    stroke-width: 1;
    stroke-dasharray: 10, 5;
    animation: fadeStrokeIn 0.5s forwards
}


@keyframes fadeStrokeOut {
    from {
        stroke-opacity: 1;
    }

    to {
        stroke-opacity: 0;
    }
}

.stable-graph .node-circle {
    stroke: #a0a0a0;
    stroke-width: 1;
    stroke-dasharray: 10, 5;
    animation: fadeStrokeOut 1s forwards
}
